*.filters
*.vcxproj
/Debug
build/ALL_BUILD.vcxproj.user
build/cmake_install.cmake
build/CMakeCache.txt
build/geojson_converter_test.vcxproj.user
build/libgraph.sln
build/ZERO_CHECK.vcxproj.user
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-bf5dec8ec603ece5090e.json
build/.cmake/api/v1/reply/cmakeFiles-v1-e7cce075a113b95f2620.json
build/.cmake/api/v1/reply/codemodel-v2-6d750f4966777c4a78b3.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-07-29T07-23-58-0063.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-0f8f828d373b618eea40.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-0f8f828d373b618eea40.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-0f8f828d373b618eea40.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-0f8f828d373b618eea40.json
build/.cmake/api/v1/reply/target-geojson_converter_test-Debug-459deab94344d1c575e1.json
build/.cmake/api/v1/reply/target-geojson_converter_test-MinSizeRel-78634dd2d389ddaad96d.json
build/.cmake/api/v1/reply/target-geojson_converter_test-Release-e346e1a5d558f364e62d.json
build/.cmake/api/v1/reply/target-geojson_converter_test-RelWithDebInfo-3015a318c70c18e9238a.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-d5a26ae03fff76b723ff.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-d5a26ae03fff76b723ff.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-d5a26ae03fff76b723ff.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-d5a26ae03fff76b723ff.json
build/.cmake/api/v1/reply/toolchains-v1-ed99f4403849bf1241ca.json
build/.vs/libgraph/CopilotIndices/17.13.439.2385/CodeChunks.db
build/.vs/libgraph/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
build/.vs/libgraph/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
build/.vs/libgraph/CopilotIndices/17.13.439.2385/SemanticSymbols.db
build/.vs/libgraph/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
build/.vs/libgraph/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
build/.vs/libgraph/FileContentIndex/6a5b2160-de9a-4ac5-a93a-23677921d7f8.vsidx
build/.vs/libgraph/FileContentIndex/06c36371-1e4d-4f9d-8d34-d64d37b61eee.vsidx
build/.vs/libgraph/FileContentIndex/79e0e17d-6800-4919-81f1-7ecc9713a060.vsidx
build/.vs/libgraph/FileContentIndex/c4759853-c241-456f-a623-372d9cb9a241.vsidx
build/.vs/libgraph/FileContentIndex/dd69dac7-f6ac-417d-b7b1-b2afa8d89d31.vsidx
build/.vs/libgraph/copilot-chat/b6762f00/sessions/7fcae5b4-7be1-49a0-926b-f18d1678d983
build/.vs/libgraph/copilot-chat/b6762f00/sessions/78cbc54f-4988-4303-acc9-baed0357d85c
build/.vs/libgraph/v17/.suo
build/.vs/libgraph/v17/Browse.VC.db
build/.vs/libgraph/v17/Browse.VC.db-shm
build/.vs/libgraph/v17/Browse.VC.db-wal
build/.vs/libgraph/v17/Browse.VC.opendb
build/.vs/libgraph/v17/DocumentLayout.backup.json
build/.vs/libgraph/v17/DocumentLayout.json
build/.vs/libgraph/v17/Solution.VC.db
build/.vs/libgraph/v17/Solution.VC.db-shm
build/.vs/libgraph/v17/Solution.VC.db-wal
build/.vs/libgraph/v17/ipch/AutoPCH/2b756f2cb87178b5/GRAPH.ipch
build/.vs/libgraph/v17/ipch/AutoPCH/57a41a877f8fa2ad/TESTING_MAIN.ipch
build/.vs/libgraph/v17/ipch/AutoPCH/7e720117adda02fe/GRAPH.ipch
build/.vs/libgraph/v17/ipch/AutoPCH/81e1b8bdd8ce31b1/NODE.ipch
build/.vs/libgraph/v17/ipch/AutoPCH/b228db17faf2f222/EXE_COMMON.ipch
build/.vs/libgraph/v17/ipch/AutoPCH/e973a300b54fb122/GEOJSONGRAPHCONVERTER.ipch
build/.vs/libgraph/v17/ipch/AutoPCH/fb8895cc75a9744/EDGE.ipch
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.30.5-msvc23/CMakeCCompiler.cmake
build/CMakeFiles/3.30.5-msvc23/CMakeCXXCompiler.cmake
build/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.30.5-msvc23/CMakeRCCompiler.cmake
build/CMakeFiles/3.30.5-msvc23/CMakeSystem.cmake
build/CMakeFiles/3.30.5-msvc23/VCTargetsPath.txt
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.30.5-msvc23/VCTargetsPath/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.30.5-msvc23/VCTargetsPath/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/bbb8ecd9cccb3c2f50cb125b70014953/generate.stamp.rule
build/Debug/geojson_converter_test.exe
build/Debug/geojson_converter_test.pdb
build/Debug/outgraph_roadfile.json
build/geojson_.A9BA9412/x64/Debug/Edge.obj
build/geojson_.A9BA9412/x64/Debug/geojson_converter_test.Build.CppClean.log
build/geojson_.A9BA9412/x64/Debug/geojson_converter_test.log
build/geojson_.A9BA9412/x64/Debug/geojson_converter_test.vcxproj.FileListAbsolute.txt
build/geojson_.A9BA9412/x64/Debug/GeoJSONGraphConverter.obj
build/geojson_.A9BA9412/x64/Debug/Graph.obj
build/geojson_.A9BA9412/x64/Debug/Node.obj
build/geojson_.A9BA9412/x64/Debug/testing_main.obj
build/geojson_.A9BA9412/x64/Debug/vc143.pdb
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/CL.command.1.tlog
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/CL.read.1.tlog
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/CL.write.1.tlog
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/CustomBuild.command.1.tlog
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/CustomBuild.read.1.tlog
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/CustomBuild.write.1.tlog
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/geojson_converter_test.lastbuildstate
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/link.command.1.tlog
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/link.read.1.tlog
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/link.write.1.tlog
build/geojson_.A9BA9412/x64/Debug/geojson_.A9BA9412.tlog/unsuccessfulbuild
build/geojson_converter_test.dir/Debug/Edge.obj
build/geojson_converter_test.dir/Debug/geojson_converter_test.Build.CppClean.log
build/geojson_converter_test.dir/Debug/geojson_converter_test.exe.recipe
build/geojson_converter_test.dir/Debug/geojson_converter_test.ilk
build/geojson_converter_test.dir/Debug/geojson_converter_test.log
build/geojson_converter_test.dir/Debug/geojson_converter_test.vcxproj.FileListAbsolute.txt
build/geojson_converter_test.dir/Debug/GeoJSONGraphConverter.obj
build/geojson_converter_test.dir/Debug/Graph.obj
build/geojson_converter_test.dir/Debug/Node.obj
build/geojson_converter_test.dir/Debug/testing_main.obj
build/geojson_converter_test.dir/Debug/vc143.pdb
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/CL.command.1.tlog
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/Cl.items.tlog
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/CL.read.1.tlog
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/CL.write.1.tlog
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/CustomBuild.command.1.tlog
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/CustomBuild.read.1.tlog
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/CustomBuild.write.1.tlog
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/geojson_converter_test.lastbuildstate
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/link.command.1.tlog
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/link.read.1.tlog
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/link.secondary.1.tlog
build/geojson_converter_test.dir/Debug/geojson_.A9BA9412.tlog/link.write.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.Build.CppClean.log
build/win32/Debug/ALL_BUILD/ALL_BUILD.log
build/win32/Debug/ALL_BUILD/ALL_BUILD.recipe
build/win32/Debug/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.log
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.Build.CppClean.log
build/x64/Debug/ALL_BUILD/ALL_BUILD.log
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
